<%= form_for [cat, review] do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(review.errors.count, "error") %> prohibited this review from being submitted:</h3>
      <ul>
        <% review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :review, "Write a review:" %>
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.submit class: 'button radius' %>
  </p>
<% end %>
