<hr>
<h1>Edit your cat</h1>
<hr>

<%= form_for @cat do |f| %>
<% if @cat.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being submitted:</h2>

    <ul>
    <% @cat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</p>
<p>
  <%= f.label :tag_string, "Tags" %><br>
  <%= f.text_field :tag_string %>
</p>

<p>
<%= f.submit class: 'button radius' %><br>
</p>

<% end %>

<p><%= link_to 'wow wat a dumm cat, delete plz!', @cat, class: 'button radius', method: :delete, data: { confirm: 'wow really kill dis cat u monster??' } %></p>

<p><%= link_to 'Back to Cat', cat_path %></p>
