<hr>
<h1>Submit a Cat</h1>
<hr>

<%= form_for @cat do |f| %>
<% if @cat.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being submitted:</h3>

    <ul>
    <% @cat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>


<p>
  <%= f.label :cat_photo, "Upload a cat photo" %>
  <%= f.file_field :cat_photo %>
</p>

<p>
  <%= f.label :url, "or use an image URL" %>
  <%= f.text_field :url %>
</p>

<p>
  <%= f.label :tag_string, "Tags" %><br>
  <%= f.text_field :tag_string %>
</p>


<p>
  <%= f.submit class: 'button radius' %>
</p>

<% end %>

<%= link_to 'Back to Cats', cats_path %>
