<hr>

<h2><%= @cat.name %></h2>
by <strong><%= @cat.user.email %></strong> at <%= @cat.created_at.strftime("%l:%M %p")%> on <%= @cat.created_at.strftime("%b %d, %Y")%> |
<% if @cat.user == current_user %>
<%= link_to "Edit/Delete", edit_cat_path(@cat) %>
<% end %>

<%= @cat.vote_score || 0 %> votes

<% if @vote.user == current_user && @vote.value == 1 %>
  <%= link_to image_tag("paw_upvoted.png"), cat_vote_path(@cat, 1), method: :put %>
  <%= link_to image_tag("paw_down.png"), cat_vote_path(@cat, -1), method: :put %>
<% elsif @vote.user == current_user && @vote.value == -1 %>
  <%= link_to image_tag("paw_up.png"), cat_vote_path(@cat, 1), method: :put %>
  <%= link_to image_tag("paw_downvoted.png"), cat_vote_path(@cat, -1), method: :put %>
<% else %>
  <%= link_to image_tag("paw_up.png"), cat_vote_path(@cat, 1), method: :put %>
  <%= link_to image_tag("paw_down.png"), cat_vote_path(@cat, -1), method: :put %>
<% end %>

<hr>

<ul>
  <li> <%= image_tag(@cat.url) %> </li>
  <li> <p><strong>Description:</strong> <%= @cat.description %><p> </li>
</ul>

<hr>

<%= form_for [@cat, @review] do |f| %>
  <% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being submitted:</h2>
    <ul>
      <%= @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :review, "Write a review:" %><br>
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-default' %>
  </p>
<% end %>

<hr>

<h3>Reviews:</h3>

<ul>
<% if !@cat.reviews.empty? %>
  <% @cat.reviews.each do |review| %>
    <li>
      <p>
        <strong><%= review.user.email %></strong>
        at <%= review.created_at.strftime("%l:%M %p")%> on <%= review.created_at.strftime("%b %d, %Y")%><br>
        <%= review.review %><br>
        <%= review.vote_score || 0 %> votes
        <% review_vote = review.votes.find_or_initialize_by(user: current_user) %>
        <% if review_vote.user == current_user && review_vote.value == 1 %>
          <%= link_to image_tag("paw_upvoted.png"), review_vote_path(review, 1), method: :put %>
          <%= link_to image_tag("paw_down.png"), review_vote_path(review, -1), method: :put %>
        <% elsif review_vote.user == current_user && review_vote.value == -1 %>
          <%= link_to image_tag("paw_up.png"), review_vote_path(review, 1), method: :put %>
          <%= link_to image_tag("paw_downvoted.png"), review_vote_path(review, -1), method: :put %>
        <% else %>
          <%= link_to image_tag("paw_up.png"), review_vote_path(review, 1), method: :put %>
          <%= link_to image_tag("paw_down.png"), review_vote_path(review, -1), method: :put %>
        <% end %>

        <% if current_user == review.user %><br>
          <%= link_to 'Edit', edit_review_path(review) %> | <%= link_to 'Delete Plz', review_path(review), method: :delete, data: { confirm: 'wow really kill dis review u monster??' } %></p>
        <% end %>
      </p>
      </li>
  <% end %>
<% else %>
  <p>There are no reviews yet! Make one!</p>
<% end %>
</ul>

<%= link_to 'Back to Cats', cats_path %>
