<hr>

<h2><%= @cat.name %></h2>

<%= render partial: 'cats/tags', locals: { cat: @cat } %>

<% if user_signed_in? && current_user.admin? %>
  <%= form_for [@cat], method: :delete do |f| %>
    <%= f.submit "PURGE THIS SCOURGE", class: "button radius" %>
  <% end %>
<% end %>

<div class="cat-vote user-thumb">
  <%= image_tag(@cat_image) %>
   by <strong>
     <%= link_to @cat.user.name, user_path(@cat.user) %>
     </strong><br>
  at <%= @cat.created_time %> on <%= @cat.created_date %>
  <% if @cat.user == current_user %>
    | <%= link_to "Edit/Delete", edit_cat_path(@cat) %>
  <% end %>

  <span>
    <strong> | <%= @cat.vote_score || 0 %> Votes </strong>
    <%= render partial: 'cats/vote', locals: { voteable: @cat, vote: @vote } %>
  </span>
</div>

<hr>
<ul>
  <li class="show"><p><%= photo_for_cat(@cat) %></p></li>
  <li> <p><strong>Description:</strong> <%= @cat.description || "(none)" %><p> </li>
</ul>
<hr>

<%= render partial: 'cats/new_review', locals: { cat: @cat, review: @review } %>

<hr>

<h3>Reviews:</h3>

<div>

<ul>
  <% if !@cat.reviews.empty? %>
    <% @cat.reviews.page(params[:page]).per(3).each do |review| %>
      <li>
        <strong class="user-thumb">
          <%= image_tag(review.user.profile_photo.thumb) %>
          <%= link_to review.user.name, user_path(review.user) %>
        </strong><br>
        at <%= review.created_time %> on <%= review.created_date %>

        <%= render 'review_edit', review: review %>

        | <strong><%= review.vote_score || 0 %> votes</strong>

        <span class="review-<%= review.id %>-vote review-vote">
            <%= render 'vote', voteable: review, vote: review
                .votes.find_or_initialize_by(user: current_user) %>
        </span>

        <blockquote><%= review.review %></blockquote>
    </li>
    <% end %>
  <% else %>
    <p>There are no reviews yet! Make one!</p>
  <% end %>
</ul>

</div>
<p><%= paginate @cat.reviews.page(params[:page]).per(3) %></p>

<%= link_to 'Back to Cats', cats_path %>
