<div class="index">
  <h1> <%= @category.tag %></h1>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @category.cats.each do |cat| %>
    <li>
      <div class="index-image">
        <%= link_to photo_for_cat(cat), cat %>
        </div><br>
      <strong><%= link_to cat.name, cat %></strong><br>
      <strong><%= cat.vote_score %> Votes</strong><br>
      <%= cat.user.name %>
    </li>
  <% end %>
</ul>
</div>

<%= link_to "Back to all cats", cats_path %> |
<%= link_to "View all categories", categories_path %>
