<hr>
<h1> All Users </h1>
<hr>

<div id="admins">
  <h3> demi-gods </h3>
  <ul>
    <% @admins.order(email: :desc).each do |admin| %>
      <li>
        <%= link_to admin.name, user_path(admin) %> | <%= admin.email %>
      </li>
    <% end %>
  </ul>
</div>
<br>
<div id="members">
  <h3> plebs </h3>
  <ul>
    <% @members.order(created_at: :desc).page(params[:page]).per(20).each do |member| %>
      <li>
        <%= link_to member.name, user_path(member) %> | <%= member.email %>
        <%= link_to 'Delete this loser', admin_user_path(member), method: :delete%>
      </li>
    <% end %>
  </ul>
</div>
<%= paginate @members.page(params[:page]).per(20) %>
