<%= form_for @review, url: review_path do |f| %>
  <% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being submitted:</h2>
    <ul>
      <%= @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :review, "Edit your review:" %><br>
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-default' %>
  </p>
<% end %>

<%= link_to 'Back to Cat', cat_path(@review.cat_id) %>
