<!DOCTYPE html>
<html>
<head>
  <title>Caturday Funtime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="nav">

  <ul>
    <li><%= image_tag("caturday_logo.png") %></li>
    <li><%= link_to 'Cat Index', cats_path %></li>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Submit Cat', new_cat_path %>
    </li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  </ul>

</div>

<div class="warning">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
