<!DOCTYPE html>
<html>
<head>
  <title>Caturday Funtime</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class="show-for-medium-down tiny-nav">

  <h1>Caturday Funtime! :3</h1>

    <ul class="center">
      <li><%= link_to 'Cat Index', cats_path, class: 'button radius' %></li>
      <li>
        <%= link_to 'Submit Cat', new_cat_path, class: 'button radius' %>
      </li>
      <li>
        <%= link_to 'Cat Search', search_index_path, class: 'button radius' %>
      </li>
      <li>
        <%= link_to 'About', about_index_path, class: 'button radius' %>
      </li>
    <% if user_signed_in? && current_user.admin? %>
      <li>
        <%= link_to 'Admin', admin_users_path, class: 'button radius' %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'My Profile', user_path(current_user), class: 'button radius' %>
      </li>
      <li>
      <%= link_to('Logout', destroy_user_session_path, class: 'button radius', :method => :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path, class: 'button radius') %>
      </li>
    <% end %>
    </ul>
</div>

<div class="container">
  <div class="show-for-large-up nav">

    <%= link_to image_tag("caturday_logo.png"), root_path %>

    <ul class="right">
        <li><%= link_to 'Cat Index', cats_path, class: 'button radius' %></li>

        <li>
          <%= link_to 'Submit Cat', new_cat_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'Cat Search', search_index_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'About', about_index_path, class: 'button radius' %>
        </li>
      <% if user_signed_in? && current_user.admin? %>
        <li>
          <%= link_to 'Admin', admin_users_path, class: 'button radius' %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'My Profile', user_path(current_user), class: 'button radius' %>
        </li>
        <li>
        <%= link_to('Logout', destroy_user_session_path, class: 'button radius', :method => :delete) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path, class: 'button radius') %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="container">
  <% if !notice.nil? %><p class="alert-box radius success"><%= notice %></p><% end %>
  <% if !alert.nil? %><p class="alert-box radius warning"><%= alert %></p><% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
